/* App.css */

.App {
  text-align: center;
  padding: 5%;
}

h1 {
  font-size: 2.5rem; /* Default size for larger screens */
  margin-top: 5%;
  color: #333;
}

/* Media Queries for Different Screen Sizes */

/* For tablets (max-width: 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Smaller on tablets */
  }
}

/* For mobile phones (max-width: 480px) */
@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem; /* Even smaller on mobile phones */
  }
}
